body {
  margin: 1em auto;
  max-width: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
  padding: 2em;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

form>* {
  width: 100%;
  display: block;
  margin: 0 0 .5em 0;
}
